<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tournament - create tournament</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="mayorHead">
    <h1>Welcome in create tournament page.</h1>
    <form action="#" th:action="@{/api/tournaments/create}" th:object="${dto}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Max Pop: <input type="text" th:field="*{size}" /></p>
        <input type="text" name="" th:hidden="true" />
        <p><input type="submit" value="Submit" name="your_name" /> </p>
    </form>
</div>
</body>
</html>