<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tournament</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="mayorHead">
    <h1>Welcome in the tournament application.</h1>
    <h2>Log in and create your own tournament!</h2>
    <h2><a href="/login.html">Let's start!</a></h2>
    <h2>Join to existing tournament without logging!</h2>
    <h2><a href="/join">Join now!</a></h2>
</div>
</body>
</html>