<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tournament - join</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="mayorHead">
    <h1>Welcome on the tournament join page</h1>
    <h2>Choose one of the non-started tournament and join it!</h2>
    <table>
        <tr>
            <td>Name</td>
            <td>Max Players</td>
            <td>Winner</td>
            <td></td>
        </tr>
    </table>

    <h3>You will be informed when tournament will be started via mail.</h3>
    <br/>
</div>
</body>
</html>