<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tournament</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body style="background-image: url('img/chess.jpeg')">
<div id="mayorHead" align="center" style="background: white">
    <h1 th:text="'Hello, ' + ${login} + '!'"></h1>
    <h3><a href="/sign_up.html">Choose one of the non-started tournament and sign up on it!</a></h3>
    <h3><a href="/user_panel">My tournaments</a></h3>
</div>
</body>
</html>