<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tournament - user panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="mayorHead">
    <h1>Welcome on the tournament user panel</h1>
    <h2>My tournaments:</h2>
    <table>
        <tr>
            <td>Name</td>
            <td>Max players</td>
            <td>Current number of players</td>
            <td>Winner</td>
            <td></td>
        </tr>
        <tr th:each="tournament: ${tournaments}">
            <td th:text="${tournament.name}"/>
            <td th:text="${tournament.maxPop}"/>
            <td th:text="${tournament.winner}"/>
            <td>
                <form th:if="not ${tournament.started}"
                      th:action="@{/user_panel/start/{tournamentId}(tournamentId=${tournament.id})}" method="post">
                    <button type="submit" name="your_name" value="your_value" class="btn-link">Start</button>
                </form>

            </td>
            <td>
                <form th:action="@{/view/show-tournament/{tournamentId}(tournamentId=${tournament.id})}" method="get">
                    <button type="submit">Show tournament</button>
                </form>
            </td>
            <td>
                <form th:action="@{/view/create-tournament/{tournamentId}(tournamentId=${tournament.id})}" method="get">
                    <button type="submit">Create tournament</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>